.hamburger{
    position: absolute;
    left: 20px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.hamburger img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.hamburger:hover{
    background-color: rgb(230, 225, 225);
    border-radius: 50px;
}