
*{
  margin: 0;
  padding: 0;
  
}

:root{
  background-color: #f4f7f8;
}

.color{
  color: #FFE5B4;
  color: #dce4e7;
  color: #fff;
  papaer-color:#f4f7f8;
  color: #FF5F1F;
  color: #FFBF00;
  color: #687784;
  color: #FFD580;

}